.Weather {
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  background-color: rgba(236, 241, 233, 0.632);
}

.Weather li {
  list-style: none;
}
.link {
  color: rgba(0, 0, 0, 0.48);
}
.link:hover {
  color: black;
}
